html {
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}

/* body,
html,
*:hover {
    cursor: none !important;
} */



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input,
button,
textarea {
    border: none;
    outline: 1px solid transparent;
}